body {
  font-weight: 300;
  line-height: 1.5;
  color: var(--color-brand-900);
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
em {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--color-brand-400);
}

a:hover {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}
