<footer>
  <div class="container">
    <div class="two-cols">
      &#9742; +49176 38922953
      <div class="footer__links">
        <a href="{{ 'impressum' | localizeUrl(page.lang) }}">Impressum</a>
        <a href="{{ 'datenschutz' | localizeUrl(page.lang) }}"
          >Datenschutzerklärung</a
        >
      </div>
    </div>
  </div>
</footer>
