<footer>
  <div class="container">
    <div class="two-cols">
      Kontakt/Contact Tel.: +49176 38922953
      <div class="footer__links">
        <a href="/impressum">Impressum</a>
        <a href="/datenschutz">Datenschutzerklärung</a>
      </div>
    </div>
  </div>
</footer>
