<nav class="main {% if navClass  %} {{ navClass }} {% endif %}">
  <div class="container">
    <h1>
      <a href="{{ '/' | localizeUrl(lang) }}"
        >{{ site.title }} <br />
        {{ site.description[lang] }} {{ customClass }}</a
      >
    </h1>
    <ul class="main__first">
      {% for item in navigation[lang] %}
      <li>
        <a href="{{ item.url | localizeUrl(lang) }}">{{ item.label }}</a>
      </li>
      {% endfor %} {% for lang, data in i18n %}
      <li>
        <a
          class="lang {% if page.lang === lang %} active {% endif %}"
          href="{% if lang === 'de' %} / {% else %} /{{ lang }} {%endif%}"
          >{% if lang === 'de' %} 🇩🇪 {%else%} 🇬🇧 {%endif%}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
