<nav class="main {% if navClass  %} {{ navClass }} {% endif %}">
  <div class="container">
    <h1>
      <a href="{{ '/' | localizeUrl(lang) }}"
        >{{ site.title }} <br />
        {{ site.description[lang] }} {{ customClass }}</a
      >
    </h1>
    <div class="main__menu-wrapper">
      <button
        class="main__menu-toggle"
        aria-label="Toggle navigation"
        type="button"
      >
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M20 7L4 7"
              stroke="#f6fff8"
              stroke-width="1.5"
              stroke-linecap="round"
            ></path>
            <path
              d="M20 12L4 12"
              stroke="#f6fff8"
              stroke-width="1.5"
              stroke-linecap="round"
            ></path>
            <path
              d="M20 17L4 17"
              stroke="#f6fff8"
              stroke-width="1.5"
              stroke-linecap="round"
            ></path>
          </g>
        </svg>
        <span class="navbar-toggle-icon"></span>
      </button>
      <ul class="main__first">
        {% for item in navigation[lang] %}
        <li>
          <a href="{{ item.url | localizeUrl(lang) }}">{{ item.label }}</a>
        </li>
        {% endfor %} {% for lang, data in i18n %}
        <li class="main__first--lang">
          <a
            class="lang {% if page.lang === lang %} active {% endif %}"
            href="{% if lang === 'de' %} / {% else %} /{{ lang }} {%endif%}"
            >{% if lang === 'de' %} 🇩🇪 {%else%} 🇬🇧 {%endif%}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
