nav.main a,
nav.main li {
  color: var(--color-brand-100);
}

nav.main:not(.with-hero) a,
nav.main:not(.with-hero) li {
  color: var(--color-brand-900);
}

nav.main h1 {
  z-index: 1;
  font-size: 1rem;
}

.main .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main ul {
  padding-left: 0;
  list-style: none;
}

.main ul.main__first {
  display: flex;
}

.main ul.main__first > li {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
}

.main ul.main__first > li:not(:last-child) {
  margin-right: 20px;
}

.main li > ul.main__second {
  display: none;
  left: 0;
  top: 100%;
  padding: 1rem;
  width: fit-content;
  position: absolute;
  background: var(--color-brand-400);
}

.main li:hover > ul.main__second {
  display: block;
}

.main li:hover > ul.main__second li {
  display: block;
}

.main ul.main__first li:hover > ul.main__second li:not(:last-child) {
  margin-bottom: 10px;
}

.chevron svg {
  width: 20px;
  height: auto;
  margin-left: 5px;
  transform: rotate(180deg);
  stroke: var(--color-brand-900);
  transition: transform 300ms ease-in-out;
}

.main li:hover .chevron svg {
  transform: rotate(0deg);
}
