nav.main {
  position: absolute;
  width: 100%;
}
nav.main a,
nav.main li {
  color: var(--color-brand-100);
}

nav.main:not(.with-hero) a,
nav.main:not(.with-hero) li {
  color: var(--color-brand-900);
}

.main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.main h1 {
  font-size: 1rem;
}

nav .main__menu-wrapper {
  display: flex;
  align-items: center;
}

nav .main__menu-wrapper {
  display: flex;
}

nav .main__first {
  padding-left: 0;
}

nav .main__first li {
  display: inline-block;
}

nav .main__first li:not(:last-child) {
  margin-right: 20px;
}

.main li:hover .chevron svg {
  transform: rotate(0deg);
}

.main a {
  border-bottom: 2px transparent;
}

.main a.active {
  border-bottom: 2px solid;
}

.main__menu-toggle {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 2px;
  border-radius: 6px;
  background: var(--color-brand-900);
}

.main__menu-wrapper.active .main__first li:not(:last-child) {
  margin-right: 0;
}
.main__menu-wrapper.active .main__first li {
  display: block;
  text-align: right;
}

.main__menu-wrapper.active .main__first {
  position: absolute;
  left: 0;
  top: 70px;
  padding-bottom: 15px;
  width: 100%;
  background: var(--color-brand-900);
  z-index: 1;
  margin-top: -70px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideInDown 0.4s;
}

.main__menu-wrapper.active .main__first a {
  color: var(--color-brand-100);
}

.main__menu-wrapper.active .main__first li.main__first--lang {
  display: inline-block;
}

@media (max-width: 1130px) {
  .main__menu-wrapper:not(.active) .main__first {
    display: none;
  }

  .main__menu-wrapper .main__menu-toggle {
    display: block;
    z-index: 2;
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
