---
title: About
tags: page
---

<div class="container">
  <img
    class="profile float-left"
    src="/assets/images/about.jpg"
    alt="profile picture"
  />
  <p>
    After a long phase of internal preparation, I would now like to work as a
    therapist. With a successfully completed technical degree (Master of
    Science) and several years of professional experience, I created the right
    container for myself to start this new profession with the necessary care,
    tranquility and leisure. This allows me to take sufficient time for each of
    my clients.
  </p>

  <p>
    The basis of my interest in psychology comes from personally meaningful and
    touching meditation experiences (Vipassana Meditation, as taught by S.N.
    Goenka). A regular meditation practice helps me, in contrast to the
    situation several years ago, to navigate my everyday live (and contact to
    clients) with more ease and awareness.
  </p>

  <p>
    In 2020 I started to study psychology (B. Sc.). After few semesters I
    changed to the more practial oriented training called „Heilpraktiker für
    Psychotherapie“ (<a
      href="https://www.gesetze-im-internet.de/heilprg/BJNR002510939.html"
      target="_blank"
      >see german</a
    >). Parallel to that since spring 2021 I started visiting several further
    trainings and seminars of different therapy schools. I started to benefit
    from those quickly. Since fall 2022 I am a participant of an ongoing three
    year psychotherapeutic training, with a fixed 30-headed group. Therein I
    continue to explore my personal triggers and psychological topics/
    complexes, so that I can be less reactive towards the topics my clients
    bring up. Also it helps me not to mix up my own topics with the ones of my
    clients.
  </p>
  <p>
    The foundational principles of my work are discretion, authenticity, empathy
    and appreciation, no matter where you stand and are right now. I consider it
    essential to encounter clients on an “eye level” – from human to human.
  </p>
</div>
