---
title: About me
---

<div class="container">
  <img
    class="profile float-left"
    src="/assets/images/about.jpg"
    alt="profile picture"
  />
  <p>
  After a long phase of inner preparation (over 1000 hours of therapeutic self-experience and training) I would now like to take practical action. With a completed technical 
  degree and several years of professional experience, I created the right base for myself to start this new work 
  with the necessary tranquility and care. This means I can take enough time for each of my clients.
  </p>

  <p>
  The basis of my interest in psychology comes from personally meaningful and touching meditation experiences 
  (Vipassana Meditation, as taught by S.N. Goenka). Until this day meditation practice helps me, in contrast to the situation several years ago, to be more conscious in my daily life and 
  in contact with clients.  
  </p>

  <p> 
    In 2020 I started to study psychology. After few semesters I changed to the more practial oriented training 
    called „Heilpraktiker für Psychotherapie“ (<a
      href="https://www.gesetze-im-internet.de/heilprg/BJNR002510939.html"
      target="_blank"
      >german legal notice here</a
    >). 
    Parallel to that since spring 2021 I started visiting several further trainings and seminars of different therapy schools. 
    I started to benefit from those quickly... and significantly.
    Since fall 2022 I am a participant of an ongoing three year psychotherapeutic training, with a fixed 30-headed group. Also here 
    I continue to explore my personal triggers and psychological topics, so that I can be less reactive towards the topics my clients 
    bring up. Also it helps me not to mix up my own topics with the ones of my clients.

  </p>
  <p>
  I am also currently training to become a life and social counselor (LSB) in Vienna and I am in the “Propädeutikum” to become a psychotherapist. 
  </p>
  <p>
  The foundational principles of my work are discretion, authenticity, empathy (empathetic understanding) and appreciation, 
  no matter where you stand and are right now. I consider it essential to encounter you on an “eye level” – from human to human. 
  </p>
  </p>
</div>
