---
title: Die humanistische Sicht
tags: ["method", "en"]
---

<div class='container'>
  <h1>Die humanistische Sicht</h1>
  <p>Es gibt sehr viele verschiedene Therapierichtungen und -ansätze. Einen
    groben Erst-Überblick möchte ich an anderer Stelle geben. Unter all diesen
    resoniert für mich die humanistische Ausrichtung nach Carl Rogers am
    stärksten.</p>
</div>