---
title: Home
tags: page
navClass: with-hero
description: Psychological counseling in the city center. Walk and Talk. Aspiring / Therapist in training. Client-centered counseling according to Carl Rogers. I look forward to meeting you from person to person and supporting you with your concerns!
---

<div class="hero"></div>
<div class="container">
  <div class="flex-container">
    <img
      class="profile float-left"
      src="{{ '/assets/images/home.jpg' | url }}"
      alt="profile picture"
    />
    <div>
      <p>
        Hello! <br />
        welcome to my contact page for psychotherapy and psychological
        counseling in munich. I am offering basic psychological support for
        people who feel the need for help. Whether interpersonal conflicts,
        personal life questions, fears, bridging the waiting time for a
        psychotherapy place with health insurance - in me you will find a
        listener and a committed, young, patient aspiring therapist. I am
        trained as a “Heilpraktiker für Psychotherapie” (>more in the “About me”
        tab).
      </p>
      <p>
        I am happy if you want to open up to some level and confide in me. I am
        specifically welcoming non-german speakers!
      </p>

      <p>
        Disclaimer: <br />
        My work does not replace a doctor or a psychiatrist. In the event of
        serious crises or acute suicidality and in emergencies, please call the
        “Oberbayern Psychiatry Crisis Service” around the clock on 0800 655 3000
        or the emergency services (No. 112).
      </p>
    </div>
  </div>
</div>
