---
title: Home

navClass: with-hero
description: Psychological counseling in the city center. Walk and Talk. Aspiring / Therapist in training. Client-centered counseling according to Carl Rogers. I look forward to meeting you from person to person and supporting you with your concerns!
---

<div class="hero"></div>
<div class="container">
  <div class="flex-container">
    <img
      class="profile float-left"
      src="{{ '/assets/images/home.jpg' | url }}"
      alt="profile picture"
    />
    <div>
      <p>
        Hello!  <br />
        <p>
        Welcome to my contact page for psychological counseling. I am offering basic psychological support for people 
        in difficult phases of life, who are looking for an empathetic person for a reflective exchange (also via OnlineCall). 
        Whether interpersonal conflicts, personal life crises, fears or bridging the time to a health insurance 
        psychotherapy place - in me you will find a listener and a committed, young, patient aspiring therapist.
        <p>
        In recent years I have dedicated myself to working on my own “issues” and I am trained as “Heilpraktiker für 
        Psychotherapie”. I am currently in training to become a life and social counselor (LSB) in Vienna and also do 
        the “Pröpädeutikum” (>more in the “About me” tab). 
      </p>
      <br />
      <p>
        I am happy if you want to open up to some level and confide in me. I do especially welcome non-german speakers! 
      </p>
      <p>
        Disclaimer: <br />
        The psychological counceling I offer is no psychotherapy according to the “Psychotherapeutengesetz”.<br />
        My work does not replace a doctor or a psychiatrist. In the event of serious crises or acute suicidality and in emergencies, please call the “Oberbayern Psychiatry Crisis Service” around the clock on 0800 655 3000 or the emergency services (No. 112).<br />
        In Vienna this is the number 01 31330 around the clock.
      </p>
    </div>
  </div>
</div>
