---
title: Costs and procedure
tags: page
---

<div class="container">
  <p>
    I charge 70 € for 60 minutes, 105 € for 90 Minutes or 140 € for 120 Minutes
    – in cash. I hand to you the invoice once the payment is done.
  </p>
  <p>
    The session is always held in public space. We can decide wether we go for a
    walk or sit somewhere while we talk or do some exercise. Starting point with
    good weather ist the city park at the „Friedensengel“ (alternatively at the
    „Geschwister-Scholl-Platz“). I am open for your proposals, as long as the
    sourroundings are adequately stable and discreet.
  </p>
</div>
