---
title: Costs and procedure
---

<div class="container">
  <p>
    I charge €60 per 60 minutes, €90 for 90 minutes or €120 for 120 minutes.
    Payment is made in cash. You will receive an invoice from me after payment
    has been made.
  </p>
  <p>
    The psychotherapy takes place in the rooms of PsySharing UG An der
    Hauptfeuerwache 4 in Munich (for photos of the rooms:
    <a href="https://psysharingpraxis.com/" target="_blank"
      >https://psysharingpraxis.com/</a
    >).
  </p>

  <p>
    I am subject to the obligation of confidentiality. I must be released from
    this obligation of confidentiality in writing by the client in the event
    that information is provided to third parties, such as cost bearers and even
    also (family) relatives. An exeption from this rule is a therapeutic
    emergency or a hazardous situation.
  </p>
</div>
