---
title: Costs and procedure
---

<div class="container">
  <p>
   I charge 60 € for 60 minutes, 90 € for 90 Minutes or 120 € for 120 Minutes. I hand to you the invoice once the payment is done.	
  <p>
    The sessions are held in public space or via an OnlineCall (I use "Google Meet", you don't need an account). We can decide together whether we talk outside while 
    walking (<a
    _target="blank"
    href="https://www.counselling-directory.org.uk/walk-and-talk-therapy.html"
    >walk and talk</a
    >) or exchange while being indoors. Starting point with good weather could be the city park at 
    the „Friedensengel“. I am open for your proposals, as long as the sourroundings are adequately stable and discreet.
  </p>
  <p>
  <div style="text-align: center;">
  <img 
    class="profile" 
    src="/assets/images/turtleBild.png" 
    alt="Mo_Mo_picture" 
    style="width: 50%; height: auto;"
  />
  </div>
<br>
    <p style="font-size: 14px;" >I am subject to the obligation of confidentiality. I must be released from this obligation of 
    confidentiality in writing by the client in the event that information is provided to third parties, 
    such as cost bearers and even also (family) members. An exeption from this rule is a emergency or a hazardous situation. 
  </p>
  <p style="font-size: 14px;" >Google Meet uses encryption by default to protect data during transmission. This means that video and audio data are encrypted, making it difficult for unauthorized third parties to intercept. 
  </p>
</div>
