---
title: Über mich
---

<div class="container">
  <img
    class="profile float-left"
    src="/assets/images/about.jpg"
    alt="profile picture"
  />
  <p>
  Nach einer mehrjährigen Phase der inneren Vorbereitung möchte ich nun praktisch tätig werden. Mit einem abgeschlossenen
  technischen Studium, und einigen Jahren an Berufserfahrung habe ich mir ein festes Standbein geschaffen, das es mir
  erlaubt die neue Tätigkeit mit dem nötigen Maß an Ruhe und Muße und Sorgfalt auszuüben. Dadurch kann ich mir ausreichend
  Zeit für jeden von Euch nehmen. 
  </p>
  <p>
  Die Grundlage meines Interesses für Psychologie stammt von für mich persönlich hilfreichen und berührenden 
  Meditationserfahrungen (Vipassana Meditation, gelehrt nach S.N. Goenka). Die Meditationspraxis hilft mir bewusster 
  und mit mehr Klarheit, als noch vor wenigen Jahren, in meinem täglichen Leben und im Kontakt mit Menschen zu sein. 
  </p>

  <p>
    2020 begann ich ein Bachelor Psychologiestudium. Nach wenigen Semestern wechselte ich zur praxisnäheren Ausbildung 
    „Heilpraktiker für Psychotherapie“ (nach dem 
    <a
    _target="blank"
    href="https://www.gesetze-im-internet.de/heilprg/BJNR002510939.html"
    >Heilpraktikergesetz</a
    >). 
    Parallel dazu habe ich seit Anfang 2021 verschiedene Fortbildungs- und Selbsterfahrungskurse/ -seminare in verschiedenen 
    Therapiemethoden besucht und konnte deren positive Auswirkung auf mich selbst erleben. Seit Herbst 2022 bin ich in einer 
    dreijährigen psychotherapeutischen Ausbildung mit einer konstanten 30-köpfigen Gruppe. Dabei erforsche ich mich Selbst, 
    meine eigenen Trigger und Themen. Dadurch kann ich „das Eigene“ von den Themen meiner KlientenInnen besser unterscheiden. 
  </p>

  <p>
  Seit Herbst 2024 mache ich die Ausbildung zum Lebens- und Sozialberater (LSB) und bin im Propädeutikum in Wien.
  </p>

  <p>
  Die Kerngrundsätze meines Arbeitens sind Diskretion, Authentizität, Empathie (einfühlendes Verstehen) und 
  Wertschätzung, egal wo Sie gerade stehen. Essentiell für mich ist eine Begegnung auf Augenhöhe - von Mensch zu Mensch. 
  </p>
</div>
