---
title: Über mich
tags: page
---

<div class="container">
  <img
    class="profile float-left"
    src="/assets/images/about.jpg"
    alt="profile picture"
  />
  <p>
    Nach längerer Phase der inneren Vorbereitung möchte ich nun in eigener
    Praxis tätig werden. Mit einem erfolgreich abgeschlossenen technischen
    Studium (Master of Science), und einigen Jahren an Berufserfahrung habe ich
    mir ein festes Standbein geschaffen, das es mir erlaubt die therapeutische
    Tätigkeit in Ruhe und mit Muße auszuüben. Dadurch kann ich mir ausreichend
    Zeit für jeden einzelnen meiner KlientenInnen nehmen.
  </p>
  <p>
    Die Grundlage meines Interesses für Psychologie stammt von für mich
    persönlich hilfreichen und berührenden Meditationserfahrungen (Vipassana
    Meditation, gelehrt nach S.N. Goenka). Die regelmäßige Meditationspraxis
    hilft mir bewusster und mit mehr innerer Stabilität, als noch vor wenigen
    Jahren, in meinem täglichen Leben und im Kontakt mit KlientInnen zu agieren.
  </p>

  <p>
    2020 begann ich ein Bachelor Psychologiestudium. Nach wenigen Semestern
    wechselte ich zur praxisnäheren Ausbildung „Heilpraktiker für
    Psychotherapie“ (nach dem
    <a
      _target="blank"
      href="https://www.gesetze-im-internet.de/heilprg/BJNR002510939.html"
      >Heilpraktikergesetz</a
    >). Parallel dazu habe ich seit Anfang 2021 verschiedene Fortbildungs- und
    Selbsterfahrungskurse/ -seminare in verschiedenen Therapiemethoden besucht
    und durfte deren positive Auswirkung auf mich erfahren. Seit Herbst 2022 bin
    ich in einer dreijährigen psychotherapeutischen Ausbildung mit einer
    konstanten 30-köpfigen Gruppe involviert. Dabei erforsche ich mich Selbst,
    meine eigenen Trigger und Themen. Dadurch kann ich „das Eigene“ von den
    Themen meiner KlientenInnen besser unterscheiden.
  </p>

  <p>
    Die Kerngrundsätze meines Arbeitens sind Diskretion, Authentizität, Empathie
    (also ein einfühlendes Verstehen) und Wertschätzung, egal wo Sie gerade
    stehen. Essentiell für mich ist eine Begegnung auf Augenhöhe - von Mensch zu
    Mensch.
  </p>
</div>
