---
title: Über mich
tags: page
---
<div class='container'>
  <img class="profile float-left" src="/assets/images/about.jpg" alt="profile picture"/>
  <p>
  Nach längerer Phase der inneren Vorbereitung möchte ich nun als psychologischer Berater tätig werden. Mit einem erfolgreich abgeschlossenen technischen Studium (Master of Science), und einigen Jahren an Berufserfahrung habe ich mir ein festes Standbein geschaffen, das es mir erlaubt die beraterische Tätigkeit in Ruhe, mit Muße auszuüben. So kann ich mir ausreichend Zeit für jeden einzelnen meiner KlientenInnen nehmen.
  </p>
  <p>
  Die Grundlage meines Interesses für Psychologie stammt von für mich persönlich hilfreichen und berührenden Meditationserfahrungen (Vipassana Meditation, wie gelehrt nach S.N. Goenka). Die regelmäßige Meditationspraxis hilft mir bewusster und mit mehr innerer Ruhe, als noch vor wenigen Jahren, in meinem täglichen Leben und im Kontakt mit KlientInnen zu agieren.
  </p>

  <p>
  2020 begann ich ein Psychologiestudium (B.Sc.). Nach wenigen Semestern wechselte ich zur praxisnäheren Ausbildung zum „Heilpraktiker für Psychotherapie“ (nach dem <a href="https://www.gesetze-im-internet.de/heilprg/BJNR002510939.html"> Heilpraktikergesetz</a>). Parallel dazu habe ich seit Anfang 2021 verschiedene Fortbildungs- und Selbsterfahrungskurse/ -seminare in verschiedenen Therapiemethoden besucht und durfte deren positive Auswirkung auf mich erfahren. Seit Herbst 2022 bin ich in einer dreijährigen psychotherapeutischen Ausbildung mit einer konstanten 30-köpfigen Gruppe involviert. Dabei erforsche ich mich Selbst, meine eigenen Trigger und Themen. Dadurch kann ich „das Eigene“ von den Themen meiner KlientenInnen unterscheiden.</p>

  <p>
  Die Kerngrundsätze meines Arbeitens in der Beratung sind Diskretion, Authentizität, Empathie (einfühlendes Verstehen) und Wertschätzung, egal wo Sie gerade stehen. Essentiell für mich ist eine Begegnung auf Augenhöhe - von Mensch zu Mensch.
  </p>
</div> 