---
title: Impressum
tags: page
---

<div class="container">
  <p>
    Volker Straub (M.Sc. Mirosystems engineering, Heilpraktiker für
    Psychotherapie)<br />
    Liebherrstraße 17<br />
    80538 München<br />
    Deutschland<br />
    Tel.: +49176 38922953<br />
  </p>

  <p>
    Mitglied im Verband Freier Psychotherapeuten, Heilpraktiker für
    Psychotherapie und Psychologischer Berater e.V.
  </p>
  <p>
    Es gilt die verbandsrechtliche Berufsordnung. Die Regelungen sind einsehbar
    unter:
    <a href="https://vfp.de/verband/berufsordnung"
      >https://vfp.de/verband/berufsordnung</a
    ><br />
    Berufshaftpflichtversicherung bei der Continentale Sachversicherung AG<br />
    Ruhrallee 92, 44139 Dortmund<br />
    Telefon: 0231 919-0, Telefax: 0231 919-2913<br />
    E-Mail: <a href="mailto:info@continentale.de">info@continentale.de</a><br />
  </p>
  <p>
    Plattform der EU-Kommission zur Online-Streitbeilegung:
    <a href="https://ec.europa.eu/odr">https://ec.europa.eu/odr</a><br />
    Wir sind zur Teilnahme an einem Streitbeilegungsverfahren vor einer
    Verbraucherschlichtungsstelle weder verpflichtet noch bereit.<br />
    Mit Urteil vom 12. Mai 1998 - 312 O 85/98 - "Haftung für Links" hat das
    Landgericht (LG) Hamburg entschieden, dass man durch die Anbringung eines
    Links die Inhalte der gelinkten Seite ggf. mit zu verantworten hat. Dies
    kann - so das LG - nur dadurch verhindert werden, dass man sich ausdrücklich
    von diesen Inhalten distanziert. Hiermit distanziere ich mich ausdrücklich
    von allen Inhalten aller gelinkten Seiten auf dieser Homepage und mache mir
    diese Inhalte nicht zu eigen. Diese Erklärung gilt für alle auf meinen
    Seiten angebrachten Links.
  </p>
</div>
