---
title: Home

navClass: with-hero
description: Psychologische Beratung in der Innenstadt. Walk and Talk. Angehender / Therapeut in Ausbildung. Klientenzentrierte Beratung nach Carl Rogers. Ich freue mich Ihnen von Mensch zu Mensch zu begegnen und Sie mit Ihrem Anliegen zu unterstützen!
---

<div class="hero"></div>

<div class="container">
  <div class="flex-container">
    <img
      class="profile float-left"
      src="{{ '/assets/images/home.jpg' | url }}"
      alt="profile picture"
    />
    <div>
      <p>
        Hallo! <br />
        willkommen auf meiner Kontaktseite für Psychotherapie und psychologische
        Beratung in München. Ich biete grundlegende Begleitung für Menschen, die
        sich in schwierigen Lebensphasen befinden und eine empathische Person
        für einen reflektierenden Austausch suchen. Egal ob zwischenmenschliche
        Konflikte, persönliche Lebensfragen, Ängste, Wartezeitüberbrückung für
        einen Kassen-Psychotherapieplatz - in mir finden Sie einen Zuhörer und
        einen engagierten, jungen, geduldigen angehenden Therapeuten. Ich bin
        ausgebildet als „Heilpraktiker für Psychotherapie" (>mehr im „Über mich“
        Reiter).
      </p>
      <p>
        Ich freue mich, wenn Sie sich mir ein Stück weit öffnen und anvertrauen
        wollen.
      </p>
      <p>
        Hinweis: <br />
        Meine Arbeit ersetzt keinen Arzt bzw. Psychiater. Bei schwerwiegenden
        Krisen oder akuter Suizidalität und in Notfällen rufen Sie bitte rund um
        die Uhr den „Krisendienst Psychiatrie Oberbayern“ unter der Nummer 0800
        655 3000 an oder beim Rettungsdienst (Nr. 112).
      </p>
    </div>
  </div>
</div>
