---
title: Home

navClass: with-hero
description: Psychologische Beratung in der Innenstadt. Walk and Talk. Angehender / Therapeut in Ausbildung. Klientenzentrierte Beratung nach Carl Rogers. Ich freue mich Ihnen von Mensch zu Mensch zu begegnen und Sie mit Ihrem Anliegen zu unterstützen!
---

<div class="hero"></div>

<div class="container">
  <div class="flex-container">
    <img
      class="profile float-left"
      src="{{ '/assets/images/home.jpg' | url }}"
      alt="profile picture"
    />
    <div>
      <p>
        Hallo! <br />
        <p>
        willkommen auf meiner Kontaktseite für psychologische Beratung. Ich biete grundlegende Begleitung für Menschen 
        in schwierigen Lebensphasen, die eine empathische Person für einen reflektierenden Austausch suchen (auch via 
        OnlineCall). Egal ob zwischenmenschliche Konflikte, persönliche Lebenskrisen, Ängste oder Überbrückung der Zeit 
        auf einen Kassen-Psychotherapieplatz - in mir finden Sie einen Zuhörer und einen engagierten, jungen, geduldigen
         angehenden Therapeuten. <br />
        <p>
        Ich habe mich in den letzten Jahren intensiv meinen eigenen „Themen“ gewidmet und bin ausgebildet als „Heilpraktiker 
        für Psychotherapie". Derzeit mache ich die Ausbildung zum Lebens- und Sozialberater (LSB) in Wien und auch das Propädeutikum (>mehr im „Über mich“ Reiter).  
      </p>
      <p>
        Ich freue mich, wenn Sie sich mir ein Stück weit öffnen und anvertrauen wollen. 
      </p>
      </p>
      <p>
      <p>
        Hinweis: <br />
        Die von mir angebotene psychologische Beratung stellt keine Psychotherapie nach Psychotherapeutengesetz dar.<br />
        Meine Arbeit ersetzt keinen Arzt bzw. Psychiater.
        Bei schwerwiegenden Krisen oder akuter Suizidalität und in Notfällen rufen Sie bitte rund um die Uhr 
        den „Krisendienst Psychiatrie Oberbayern“ unter der Nummer 0800 655 3000 an oder beim Rettungsdienst (Nummer 112).<br />
        In Wien ist das rund um die Uhr die Nummer 01 31330. 
      </p>
    </div>
  </div>
</div>
