---
title: Methoden und Kompetenzen
tags: page
---
<div class='container'>
    <h1>Überblick</h1>
    <p>Im Rahmen der von mir besuchten Seminare und auch in meiner Ausbildung zum Heilpraktiker für Psychotherapie kam ich in praktischen Kontakt mit einigen ausgewählten tools der psychologischen Beratung, u. A.:</p>

    <ul>
        <li>Ressourcenorientiertes Beraten</li>
        <li>Klientenzentrierter Gesprächsführung nach Carl Rogers</li>
        <li>Lösungsorientierte Kurzzeittherapie nach Steve de Shazer</li>
        <li>systemische Fragen und Sichtweise</li>
        <li>Definition von Zielen</li>
        <li>Gewaltfreie Kommunikation nach Rosenberg</li>
        <li>Progressive Muskelentspannung nach Jacobson</li>
        <li>Achtsamkeits- und Atemtechniken</li>
    </ul>

    <p>
        Es gibt eine Vielzahl von Ansätzen um Menschen psychologisch zu unterstützen. Einen umfassenden Überblick möchte ich an dieser Stelle nicht geben. Ich verweise mit freundlicher Genehmigung auf https://www.therapie.de/psyche/info/therapie/einleitung/
    Unter all den bestehenden Strömungen liegen mir die achtsamkeitsbasierten und die humanistischen Ansätze am meisten (<a href="https://www.therapie.de/psyche/info/therapie/gespraechspsychotherapie/" />klientenzentrierte Gesprächsführung</a>). Sie bilden den Kern meiner beraterischen Tätigkeit.</p>
    <p>Ich habe die Einstellung, dass jede(r) Klient/In die Lösung seines Problems bereits in sich trägt und mit in die Beratung nimmt. Meine Rolle ist es das Zutagetreten dieser Selbstbestimmungs- / Selbstaktuialisierungstendenz, wie Rogers es nennt, zu fördern. Das mache ich durch aufmerksames Spiegeln dessen, was Sie mit in die Beratungsstunde bringen.
    Die Grundsätze meines Arbeitens sind Diskretion, Authentizität, Empathie (einfühlendes Verstehen) und Wertschätzung, egal wo Sie gerade stehen. Essentiell für mich ist eine Begegnung auf Augenhöhe - von Mensch zu Mensch.
    </p>

    <p>
        Hinweis: <br />
        Die von mir angebotene Beratung stellt keine Psychotherapie nach Psychotherapeutengesetz dar. Ich bin kein Arzt oder Heilpraktiker. Ich stelle keine Diagnosen und meine Arbeit ersetzt keinen Arzt oder Heilpraktiker.
        Insbesondere bei schwerwiegenden Krisen oder akuter Suizidalität suchen Sie bitte einen Psychiater (=Facharzt für Psychiatrie) oder einen psychologischen Psychotherapeuten auf. In dringenden Notfällen rufen Sie beim Ärztlichen Bereitschaftsdienst der Kassenärztlichen Bundesvereinigung unter der Nummer 116117 an.
        Alternativ (alle gebührenfrei):<br />
        Telefonseelsorge: 0800 1110111 (evangelische)  0800 1110222 (katholische)<br />
        Telefonseelsorge Kinder und Jugendliche: 0800/1110333<br />
        Info Telefon Depression: 0800 3344533<br />

    </p>
</div>