---
title: Methoden und Kompetenzen
tags: page
---

<div class="container">
  <h1>Überblick:</h1>
  <p>
    Im Rahmen der von mir besuchten Seminare und auch in meiner Ausbildung zum
    Heilpraktiker für Psychotherapie kam ich in praktischen Kontakt mit einigen
    ausgewählten tools der psychologischen Beratung, u. A.:
  </p>
  <ul>
    <li>Ressourcenorientiertes Beraten</li>
    <li>Klientenzentrierter Gesprächsführung nach Carl Rogers</li>
    <li>Lösungsorientierte Kurzzeittherapie nach Steve de Shazer</li>
    <li>Systemische Fragen und Sichtweise</li>
    <li>Definition von Zielen</li>
    <li>Gewaltfreie Kommunikation nach Rosenberg</li>
    <li>Progressive Muskelentspannung nach Jacobson</li>
    <li>Achtsamkeits- und Atemtechniken</li>
  </ul>
  <p>
    Es gibt eine Vielzahl von Ansätzen um Menschen psychologisch zu
    unterstützen. Einen umfassenden Überblick möchte ich an dieser Stelle nicht
    geben. Ich verweise mit freundlicher Genehmigung auf
    <a href="https://www.therapie.de/psyche/info/therapie/einleitung/"
      >diese Quelle</a
    >.
  </p>
  <p>
    Unter all den bestehenden Strömungen liegen mir die achtsamkeitsbasierten
    und die humanistischen Ansätze am meisten (<a
      href="https://www.therapie.de/psyche/info/therapie/gespraechspsychotherapie/"
      >klientenzentrierte Gesprächsführung</a
    >). Sie bilden den Kern meiner beraterischen Tätigkeit.
  </p>
  <p>
    Ich habe die Einstellung, dass jede(r) Klient/In die Lösung seines Problems
    bereits in sich trägt und mit in die Beratung nimmt. Meine Rolle ist es das
    Zutagetreten dieser Selbstbestimmungs- / Selbstaktualisierungstendenz, wie
    Rogers es nennt, zu fördern. Das mache ich durch aufmerksames Spiegeln
    dessen, was Sie mit in die Beratungsstunde bringen.
  </p>
  <p>
    Die Grundsätze meines Arbeitens sind Diskretion, Authentizität, Empathie
    (einfühlendes Verstehen) und Wertschätzung, egal wo Sie gerade stehen.
    Essentiell für mich ist eine Begegnung auf Augenhöhe - von Mensch zu Mensch.
  </p>
  <h2>Der Körper, der Atem und die Achtsamkeit</h2>
  <p>
    Seit einigen Jahren hat der eigene Atem vermehrt meine Aufmerksamkeit auf
    sich gezogen. Es liegt viel Nützliches darin, sich diesem Phänomen etwas
    genauer zu widmen...
  </p>

  <p>
    Der Atem wird seit langen Zeiten als Bindeglied zwischen materieller Welt,
    also dem menschlichen Körper und dem Geist / der Psyche angesehen. Das
    spiegelt sich anhand der stellvertretenden Wörter aus verschiedenen Sprachen
    wider:
  </p>
  <ul>
    <li>Altindisch prana → körperlicher Atem, Luft | Essenz des Lebens;</li>
    <li>Chinesisch Chi → natürliche Luft | Lebensenergie, japanisch Ki;</li>
    <li>griechisch pneuma → Luft, Atem | Geist, Lebensessenz;</li>
    <li>griechisch phren → Zwerchfell | Geist;</li>
    <li>hawaiianisch ha (in aloha) → Geist | Wind, Luft | Atem;</li>
    <li>jüdisch ruach → Atem | Schöpfergeist;</li>
    <li>lateinisch spiritus → Atem | Geist</li>
  </ul>

  <p>
    Ebenso in den slawischen Sprachen haben Geist und Atem die gleiche
    lingusitische Wurzel.
  </p>

  <p>
    Der Psychotherapeut Ernst Andreas Stadter schreibt dazu: „... Ist er flach,
    schwer, leicht, ruhig, gehetzt? Der Atem sagt sehr viel, ja im Grunde alles
    über meine augenblickliche Befindlichkeit. Das ist eine uralte Weisheit
    vieler Völker und Kulturen.“ (E.A.Stadter, „Ich will dir sagen, was ich
    fühle“, Herder Verlag, Freiburg, Basel, Wien, 1996) Der Psychiater Wilhelm
    Reich (†1957) hat in diesem Zusammenhang eine interessante Beobachtung
    gemacht: Er meinte erkannt zu haben, dass psychische Widerstände und
    Abwehrmechanismen mit einer eingeschränkten Atmung zusammenhängen. Dies
    wurde von Stanislav Grof, einem tschechischen Psychiater, bestätigt (S.
    Grof, Der Weg des Psychonauten Band 1, Nachtschatten Verlag, 2019, S. 360)
    Und auch Mijares und Bessel van der Kolk schreiben hierzu sinngleich: „Sie
    können ihren körperlichen und emotionalen Zustand sehen, indem Sie ihren
    Atemrythmus beobachten, und Sie können diesen Zustand verändern, indem Sie
    den Atem verändern. [...] Wenn Sie sich ihres Atems bewusst sind, werden Sie
    sich ebenso der Interaktion zwischen ihrem inneren Zustand und ihrer
    Umgebung/Umfeld bewusst.“ (Sharon G. Mijares, The Revelation of the Breath A
    Tribute to Its Wisdom, Power, and Beauty, State University of New York
    Press, Albany, 2009, S.241). „[...] wissenschaftliche Methoden haben
    bestätigt, dass eine Änderung der Atmung Probleme mit Wut, Depressionen und
    Angstzuständen lindern kann“ (B. van der Kolk, The Body Keeps the Score,
    Penguin Books, UK, 2014)
  </p>

  <p>
    Im unserem westlichen Kulturkreis war Wilhelm Reich einer der ersten, der
    den Körper und auch die Atmung mit in die Psychotherapie einband (Achtung:
    Ich biete „nur“ psychologische Beratung an, keine Psychotherapie :) ). Und
    er war einer der Ersten, die Zusammenhänge von
    Körper(an)spannungen/Rigidität und psychologischen Problemen erkannten. U.
    A. aus seinen Entdeckungen entstanden die verschiedenen
    Körperpsychotherapien.
  </p>
  <p>
    Seine wichtigste These ist, dass der Körper Anspannungen in den Muskeln
    ansammelt und hält, und in manchen Fällen zeitgleich die Atmung einschränkt,
    um uns unbewusst vor unwillkommenen Emotionen zu schützen. (s. o., The
    Revelation of the Breath, S.73) Er teilte den Körper in verschiedene
    Bereiche ein und wies jedem eine mehr oder minder separate Bedeutung zu: zum
    Beispiel sollen im Brustkorbbereich Emotionen wie Verlangen, Liebeskummer,
    Wut und Traurigkeit gespeichert sein. Traurigkeit könne ebenso im
    Halsbereich auftreten. Wenn sich die Kehlkopfregion seit Längerem
    kontrahiert anfühle, könne das andeuten, dass Traurigkeit und Tränen
    übermäßig, in einer nicht mehr dienlichen Weise, zurückgehalten werden.
    Reich wies in einem solchen Fall an, den Nacken und den Kiefer zu entspannen
    und tiefer durch den offenen Mund zu atmen. Er als Psychotherapeut könne so
    psychische Widerstände überwinden und die gelösten und befreiten Emotionen
    führen zu merklicher Erleichterung.
  </p>

  <p>
    Reich beobachtete, dass viele Menschen, zum Teil unbewusst, ein sehr
    limitiertes Atemmuster haben. Weit verbreitet ist z.B. ein flacher Atem,
    etwa zehnmal pro Minute in den oberen Teil der Lunge (kaum Bauchatmung).
    Diese Art des Atmens, quasi nur im Brustbereich ist nicht natürlich (s. o.,
    The Revelation of the Breath, S.45). Die entspannte, natürliche Atmung
    erfolgt überwiegend im Bauchraum. Babies und Tiere haben intuitiv einen
    natürlichen Atem („Diaphragmatic breathing“, das kann man googeln :) ). Ein
    flacher Atem tauscht nur ca. einen halben Liter Luft in der Lunge aus
    (≈15%). Die Folge ist eine zu niedrige Sauerstoffversorgung des Gehirns und
    der restlichen Organe, was in Müdigkeit, Verlust von Enthusiasmus und
    Konzentrationsfähigkeit münden kann.
  </p>

  <p>
    Als unbewusster Zweck für die limitierte Atmung wird in den
    Körperpsychotherapien eine Limitierung des Selbstausdrucks gesehen.
    Irgendetwas darf oder soll nicht gezeigt oder gefühlt werden. Das volle
    Wahrnehmen und Empfinden ist dann eingeschränkt. Unter Umständen war diese
    Limitierung als Kind, in der damaligen Umgebung, sinnvoll und sogar
    überlebensnotwendig. Als Erwachsener ist sie jedoch oft hinderlich und nicht
    mehr dienlich.
  </p>

  <p>
    Im Folgenden eine kleine Bioenergetische Übung (Bioenergetische Therapie =
    eine Form der Körperpsychotherapie). Wer Interesse hat, kann sie gerne
    ausprobieren.
  </p>

  <ol>
    <li>
      Lege deine Hand auf deine Brust und atme natürlich ein und aus. Bemerke
      wie sich deine Brust anfühlt.
    </li>
    <li>
      Als nächstes entferne deine Hand von deiner Brust und lege deinen kleinen
      Finger auf den Bauchnabel, während der Rest der Hand auf dem Bauchbereich
      über dem Bauchnabel unterhalb der Brust ruht. Atme ein und aus und bemerke
      dabei wie sich dieser Bauchbereich unter deiner Hand anfühlt.
    </li>
    <li>
      Zum Schluss lege den Daumen auf den Bauchnabel und lasse die Hand auf dem
      Bauchbereich darunter ruhen. Atme ein und atme aus. Fühle auch diesen
      Bereich.
    </li>
    <li>
      Richte deine Aufmerksamkeit auf den Atem und beobachte welcher der drei
      oben beschriebenen Bereiche sich während des Einatmens am wenigsten
      bewegt. Der Bereich mit der geringsten Bewegung deutet auf einen Bereich
      mit „blockierter Energie“ hin.
    </li>
    <li>
      Platziere deine Hand auf den Bereich, welcher am meisten eingeschränkt
      ist, und steigere bzw. vertiefe deine Atmung.
    </li>
  </ol>
  <p>
    Wenn das schwerfällt, KANN das ein Anzeichen für eine chronische Verspannung
    in diesem Bereich sein.
  </p>

  <p>
    Das Atmen ist ein Körpervorgang, der generell bewusst oder unbewusst
    ablaufen kann. Die bewusste Modifikation des Atems wird in vielen
    spirituellen Praktiken angewandt, wie zum Beispiel in der alten indischen
    Wissenschaft vom Atem pranayama, beim Kundalini Yoga, beim Siddha Yoga, in
    der Meditation der burmesischen Buddhisten oder in der Sufi-Praxis.
  </p>
  <p>
    Ich praktiziere seit mehreren Jahren Vipassana Meditation wie gelehrt nach
    S.N. Goenka. Der erste Schritt bei dieser Form der Achtsamkeitsmeditation
    ist die bewusste Beobachtung des eigenen Atems (Anapanasati; aus dem Pali
    Anapana=Ein- und Ausatmen und sati=Achtsamkeit, wörtlich
    „Atem-Achtsamkeit“). Dieser wird dabei nicht verändert, sondern natürlich
    belassen, so wie er ist. Ist er schnell, dann ist er schnell, ist er schwer,
    dann ist er schwer...
  </p>
  <p>
    Analog beziehen auch die beschriebenen Körperpsychotherapien die bewusste
    Beobachtung des natürlichen Atemprozesses mit ein. Im Vergleich zu oben
    genannten spirituellen Praktiken ist die willentliche Modifikation des Atems
    NICHT Teil von Anapanasati. Es geht dabei im Wesentlichen um die Schulung
    zweier Fähigkeiten: zum einen um die „Fakultät der Achtsamkeit“ (faculty of
    awareness, lateinisch facultas „Fähigkeit, Vermögen“). Zum Anderen soll
    eingeübt werden innerpsychisch nicht auf das Wahrgenommene zu reagieren
    (Übung von Gleichmut = equanimity ≠ Gleichgültigkeit).
  </p>
  <p>
    Die Körperposition ist ein aufrechtes Sitzen, so bequem wie möglich (z.B.
    auf einem Stuhl). Der Rücken soll aufrecht sein, der Rest des Körpers
    entspannt. Die Augen bleiben geschlossen. Sobald eine Ablenkung in Form
    eines Gefühls oder Gedankens auftritt - man z.B. nach fünf Minuten merkt,
    dass man „wo anders“ war - kehrt man wieder zum Atem zurück. Die Gedanken
    werden während des Übens nicht verfolgt, man lässt sie kommen und gehen,
    auftreten und abebben, ohne an ihnen zu verhaften.
  </p>
  <p>
    Nochmal: Gedanken dürfen auftauchen und da sein, man soll nur nicht an ihnen
    haften, sie „verfolgen“. Aus einem anderen Blickwinkel geht es darum die
    Aufmerksamkeit absichtlich in den gegenwärtigen Moment zu bringen, ohne zu
    bewerten, was sich im Gegenwärtigen Moment zeigt. Falls Bewertungen
    auftauchen, gilt es sich diesen bewusst zu werden und sich nicht darin zu
    „verfangen“, z.B. indem man gedanklich „daran kleben bleibt“ (so genug
    Metaphern :-).
  </p>
  <p>
    Der Fokus bleibt durchgehend beim (natürlichen) Atem. Als Hilfe kann z.B.
    der Ausgang der Nasenlöcher herangezogen werden. Man kann den Luftstrom und
    die Empfindungen dort an den Naseninnenwänden beobachten. „Wenn ich einatme
    bin ich mir bewusst, dass ich einatme. Wenn ich ausatme bin ich mir bewusst
    dass ich ausatme.“ Das ist ein Satz, der mir schon oft beim Üben geholfen
    hat.
  </p>
  <p>
    In einem zweiten Schritt von Vipassana wird die Aufmerksamkeit ausgeweitet
    und es werden die Empfindungen im gesamten Körper systematisch in den Fokus
    genommen (Body Scan). Auch hier geht es darum bewusst wahrzunehmen ohne
    mental zu reagieren.
  </p>
  <p>
    Die systematische Praxis von Achtsamkeit(smehtoden) ist Teil vieler
    beraterischer und therapeutischer Ansätze (z.B. MBSR oder Acceptance and
    Commitment Therapy aus der Verhaltenstherapie). Sie fließt wesentlich in
    mein Arbeiten mit ein.
  </p>
  <p>
    Es liegt in der Natur der Dinge, dass wir die Tendenz haben Erfüllung im
    „Außen“, in der materiellen Welt zu suchen. Im Buddhismus wird betont, dass
    dies nur im „Innen“ zu suchen (und zu finden?) ist. Die Kraft des Atems
    bringt es mit sich dieser uns eigenen Tendenz entgegenzuwirken. Die Übung
    die Aufmerksamkeit beim natürlichen Atem zu behalten, beruhigt den Geist.
    Ich finde hier zwei Analogien sehr treffend: der Geist/mentale Zustand als
    Wasser z.B. ein ruhiger Waldteich bei Vollmond. Wenn alles ruhig ist, kommen
    auch die seltensten Tiere aus ihren Verstecken ans Wasser. Eine andere
    Metapher ist eine Tasse, in der schmutziges Wasser aufgewirbelt ist. Im
    Verlauf der Meditation klärt sich die Flüssigkeit und der Schmutz (= die
    Gedanken) setzen sich.
  </p>

  <img src="/assets/images/methods.png" alt="methods analogy" />

  <p>
    Nach etwas Übung ist das Resultat oft mehr Gelassenheit, Stabilität und
    Klarheit. Qualitäten, die sich bei regelmäßiger Übung festigen und auch
    außerhalb der formalen Meditation zeigen. Gereiztheit bzw. Nervösität und
    ein ruhiger Gemütszustand schließen sich gegenseitig aus. Letzterer ist
    oftmals die Voraussetzung für jegliche erfolgreiche psychologische
    Intervention/Maßnahme.
  </p>

  <p>
    Zum Abschluss möchte ich etwas klarstellen: die Praxis der Meditation ist
    etwas, womit ich Erfahrung habe. Sie hat mir viel geholfen. Das heißt nicht,
    dass dies für jeden und jede die geeignete Methode der Wahl ist. Es gibt
    eine unüberschaubare Anzahl von tools und Methoden, um mehr Klarheit und
    Minimierung von psychischem Leiden, zu verwirklichen. Die Entscheidung
    welcher Ansatz für Sie der richtige ist, bleibt jedem selbst überlassen.
  </p>

  <p>Hinweis:</p>

  <p>
    Die von mir angebotene Beratung stellt keine Psychotherapie nach
    Psychotherapeutengesetz dar. Ich bin kein Arzt oder Heilpraktiker. Ich
    stelle keine Diagnosen und meine Arbeit ersetzt keinen Arzt oder
    Heilpraktiker. Insbesondere bei schwerwiegenden Krisen oder akuter
    Suizidalität suchen Sie bitte einen Psychiater (=Facharzt für Psychiatrie)
    oder einen psychologischen Psychotherapeuten auf. In dringenden Notfällen
    rufen Sie beim Ärztlichen Bereitschaftsdienst der Kassenärztlichen
    Bundesvereinigung unter der Nummer 116117 an<br />
    Alternativ (alle gebührenfrei):<br />
    Telefonseelsorge:
    <strong>0800 1110111 (evangelische) 0800 1110222 (katholische)</strong
    ><br />
    Telefonseelsorge Kinder und Jugendliche: 0800/1110333<br />
    Info Telefon Depression: 0800 3344533
  </p>
</div>
