---
title: Methoden und Kompetenzen
tags: page
---

<div class="container">
  <h2>Überblick:</h2>
  <p>
    Im Rahmen der von mir besuchten Seminare und auch in meiner Ausbildung zum
    Heilpraktiker für Psychotherapie kam ich in praktischen Kontakt mit einigen
    ausgewählten tools der psychologischen Beratung, u. A.:
  </p>
  <ul>
    <li>Ressourcenorientiertes Beraten</li>
    <li>Klientenzentrierter Gesprächsführung nach Carl Rogers</li>
    <li>Lösungsorientierte Kurzzeittherapie nach Steve de Shazer</li>
    <li>Systemische Fragen und Sichtweise</li>
    <li>Definition von Zielen</li>
    <li>Gewaltfreie Kommunikation nach Rosenberg</li>
    <li>Progressive Muskelentspannung nach Jacobson</li>
    <li>Achtsamkeits- und Atemtechniken</li>
  </ul>
  <p>
    Es gibt eine Vielzahl von Ansätzen um Menschen psychologisch zu
    unterstützen. Einen umfassenden Überblick möchte ich an dieser Stelle nicht
    geben. Ich verweise mit freundlicher Genehmigung auf
    <a href="https://www.therapie.de/psyche/info/therapie/einleitung/"
      >diese Quelle</a
    >.
  </p>
  <p>
    Unter all den bestehenden Strömungen liegen mir die achtsamkeitsbasierten
    und die humanistischen Ansätze am meisten (<a
      href="https://www.therapie.de/psyche/info/therapie/gespraechspsychotherapie/"
      >klientenzentrierte Gesprächsführung</a
    >). Sie bilden den Kern meiner beraterischen Tätigkeit.
  </p>
  <p>
    Ich habe die Einstellung, dass jede(r) Klient/In die Lösung seines Problems
    bereits in sich trägt und mit in die Beratung nimmt. Meine Rolle ist es das
    Zutagetreten dieser Selbstbestimmungs- / Selbstaktualisierungstendenz, wie
    Rogers es nennt, zu fördern. Das mache ich durch aufmerksames Spiegeln
    dessen, was Sie mit in die Beratungsstunde bringen.
  </p>
  <p>
    Die Grundsätze meines Arbeitens sind Diskretion, Authentizität, Empathie
    (einfühlendes Verstehen) und Wertschätzung, egal wo Sie gerade stehen.
    Essentiell für mich ist eine Begegnung auf Augenhöhe - von Mensch zu Mensch.
  </p>
</div>
