---
title: Kosten und Ablauf
tags: page
slug: prices
---

<div class="container">
  <p>
    Ich berechne 70 € pro 60 Minuten, 105 € für 90 Minuten oder 140 € für 120
    Minuten. Die Bezahlung erfolgt in Bar. Eine Rechnung erhalten Sie von mir
    nach erfolgter Bezahlung.
  </p>

  <p>
    Die psychologische Beratung findet stets im öffentlichen Raum statt. Wir
    können entscheiden, ob wir etwas Spazieren gehen oder uns im Sitzen
    unterhalten. Startpunkt bei schönem Wetter ist der Stadtpark beim
    Friedensengel (alternativ am Geschwister-Scholl-Platz). Ich bin ebenso offen
    für Ihre Vorschläge, solange eine ausreichend stabile und diskrete Umgebung
    gewährleistet ist.
  </p>
</div>
