---
title: Koosten und Ablauf

slug: prices
---

<div class="container">
  <p>
    Ich berechne 60 € pro 60 Minuten, 90 € für 90 Minuten oder 120 € für 120
    Minuten. Die Bezahlung erfolgt in Bar. Eine Rechnung erhalten Sie von mir
    nach erfolgter Bezahlung.
  </p>

  <p>
    Die Psychotherapie findet in den Räumen der PsySharing UG An der
    Hauptfeuerwache 4 in München statt (für Fotos von den Räumen:
    <a href="https://psysharingpraxis.com/" target="_blank"
      >https://psysharingpraxis.com/</a
    >
    ).
  </p>

  <p>
    Ich unterliege der Schweigepflicht und muss für den Fall der
    Auskunftserteilung an Dritte, wie Kostenträger und auch an (familiäre)
    Bezugspersonen von dieser Schweigepflicht schriftlich durch die KlientIN
    entbunden werden. Ausgenommen hiervon ist ein therapeutischer Notfall oder
    eine Gefahrensituation.
  </p>
</div>
