---
title: Kosten und Ablauf

slug: prices
---

<div class="container">
  <p>
  Aktuell biete ich die Beratung auf kostenloser Basis an. Sie geben mir so viel wie es ihnen wert war, oder sie bereit bzw. im Stande sind zu geben.  
  </p>
  <p>
    Die psychologische Beratung findet im öffentlichen Raum in München 
    oder via OnlineCall statt (ich verwende "Google Meet", Sie benötigen keinen Account). Ob wir uns draußen beim Spazieren 
    gehen unterhalten 
    (<a
    _target="blank"
    href="https://www.counselling-directory.org.uk/walk-and-talk-therapy.html"
    >walk and talk</a
    >) oder uns Drinnen austauschen, können wir gemeinsam festlegen. Startpunkt bei schönem Wetter könnte z.B. 
    der Stadtpark beim Friedensengel sein. Ich bin ebenso offen für Ihre Vorschläge, 
    solange eine ausreichend stabile und diskrete Umgebung gewährleistet ist. 
  </p>
  <p>
  <div style="text-align: center;">
  <img 
    class="profile" 
    src="/assets/images/turtleBild.png" 
    alt="Mo_Mo_picture" 
    style="width: 50%; height: auto;"
  />
  </div>
<br>
    <p style="font-size: 14px;" >Ich unterliege der Schweigepflicht und muss für den Fall der Auskunftserteilung an Dritte, wie 
    Kostenträger und auch an (familiäre) Bezugspersonen von dieser Schweigepflicht schriftlich durch 
    die KlientIn entbunden werden. Ausgenommen hiervon ist ein Notfall oder eine Gefahrensituation.
  </p>
  <p>
    <p style="font-size: 14px;" >Google Meet verwendet standardmäßig Verschlüsselung, um die Daten während der Übertragung zu schützen. Dies bedeutet, dass die Video- und Audiodaten verschlüsselt werden, sodass sie für unbefugte Dritte schwer abzufangen sind. 
  </p>
</div>
