---
title: Vipassana
tags: ["method", "de"]
---

<div class='container'>
  <h1>Vipassana</h1>
  <p>Ich konnte bereits erste Schritte in der Art der Vipassana Meditation, wie
    gelehrt nach S.N. Goenka, machen. In Deutschland und weltweit werden an
    mehreren Orten einheitlich durchgeführte 10-Tages-Kurse angeboten. Die
    systematische Praxis von Achtsamkeitsmethoden und -meditation ist Teil
    vieler therapeutischer Ansätze.</p>
    
</div>